{
    "plugins": ["prettier-plugin-tailwindcss"],
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "semi": true,
    "trailingComma": "all",
    "useTabs": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "vueIndentScriptAndStyle": true,
    "singleAttributePerLine": true
}
